# Project 2

#### Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

#### Loading the Data

In [2]:
Pacific_train = pd.read_csv('Pacific_train.csv')
ptdf = Pacific_train.copy()

In [4]:
# Shape of the DataFrame
ptdf.shape

(15681, 22)

In [17]:
ptdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15681 entries, 0 to 15680
Data columns (total 22 columns):
ID                  15681 non-null object
Name                15681 non-null object
Date                15681 non-null int64
Time                15681 non-null int64
Event               15681 non-null object
Status              15681 non-null object
Latitude            15681 non-null object
Longitude           15681 non-null object
Maximum Wind        15681 non-null int64
Minimum Pressure    15681 non-null int64
Low Wind NE         15681 non-null int64
Low Wind SE         15681 non-null int64
Low Wind SW         15681 non-null int64
Low Wind NW         15681 non-null int64
Moderate Wind NE    15681 non-null int64
Moderate Wind SE    15681 non-null int64
Moderate Wind SW    15681 non-null int64
Moderate Wind NW    15681 non-null int64
High Wind NE        15681 non-null int64
High Wind SE        15681 non-null int64
High Wind SW        15681 non-null int64
High Wind NW        15681 non-null int64
dtypes: int64(16), object(6)
memory usage: 2.6+ MB

* Yeah ! There are no Null Values...

In [6]:
ptdf.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP101996,GENEVIEVE,19961003,0,,TD,15.0N,120.0W,25,1009,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP101988,JOHN,19880817,1200,,TD,18.6N,107.4W,30,1007,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP061951,UNNAMED,19510827,0,,TS,22.5N,115.1W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP101987,JOVA,19870814,1200,,TS,12.8N,122.1W,35,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP142007,JULIETTE,20071004,1800,,LO,22.4N,113.0W,25,1008,...,0,0,0,0,0,0,0,0,0,0

In [16]:
for i in ptdf:
    print(f'Unique Values of {i} : {ptdf[i].nunique()}')

Unique Values of ID : 1049
Unique Values of Name : 267
Unique Values of Date : 4971
Unique Values of Time : 30
Unique Values of Event : 5
Unique Values of Status : 11
Unique Values of Latitude : 342
Unique Values of Longitude : 1110
Unique Values of Maximum Wind : 37
Unique Values of Minimum Pressure : 114
Unique Values of Low Wind NE : 43
Unique Values of Low Wind SE : 40
Unique Values of Low Wind SW : 36
Unique Values of Low Wind NW : 38
Unique Values of Moderate Wind NE : 27
Unique Values of Moderate Wind SE : 25
Unique Values of Moderate Wind SW : 23
Unique Values of Moderate Wind NW : 26
Unique Values of High Wind NE : 19
Unique Values of High Wind SE : 15
Unique Values of High Wind SW : 16
Unique Values of High Wind NW : 19

In [18]:
ptdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15681 entries, 0 to 15680
Data columns (total 22 columns):
ID                  15681 non-null object
Name                15681 non-null object
Date                15681 non-null int64
Time                15681 non-null int64
Event               15681 non-null object
Status              15681 non-null object
Latitude            15681 non-null object
Longitude           15681 non-null object
Maximum Wind        15681 non-null int64
Minimum Pressure    15681 non-null int64
Low Wind NE         15681 non-null int64
Low Wind SE         15681 non-null int64
Low Wind SW         15681 non-null int64
Low Wind NW         15681 non-null int64
Moderate Wind NE    15681 non-null int64
Moderate Wind SE    15681 non-null int64
Moderate Wind SW    15681 non-null int64
Moderate Wind NW    15681 non-null int64
High Wind NE        15681 non-null int64
High Wind SE        15681 non-null int64
High Wind SW        15681 non-null int64
High Wind NW        15681 non-null int64
dtypes: int64(16), object(6)
memory usage: 2.6+ MB

* As there are some Object data types in the data
* Converting them to Numerical
* To understand the data and apply Feature Engineering and Selection techniques